# String

string is one of the basic data types. It is also the most common one that we use everywhere.
so we need to be familiar about it.

A string is created by putting something in between double quote " ... ", or single quote ' ... '.  For example:

## string can be compared

In [1]:
s1 = "hello world"
s2 = 'hello world'

s1 == s2

True

In [19]:
s1 = "qiqi"
s2 = "yangyang"
s1 == s2

False

In [20]:
s1 > s2

False

In [21]:
s1 < s2

True

## string can span more than one line

A string can span multiple lines, you need triple quote for that:

In [5]:
print("""
The world is not enough,
Die another day.
""")

The world is not enough,
Die another day.

If a string itself has quote, then you should use the other type of quote. For example:

In [7]:
myquote = 'qiqi asks: "why me?"'
print(myquote)

qiqi asks: "why me?"

## string concatenation

Note that use of "+" operator

In [12]:
s1 = "hello"
s2 = "world"
s1 + s2

'helloworld'

## string length

In [4]:
len(s1)

11

## string is iterable

In [13]:
s1[0]

'h'

In [14]:
s1[0:2]

'he'

In [15]:
s1[-1]

'o'

In [10]:
for c in myquote:
    print(c, end=" ")

q i q i   a s k s :   " w h y   m e ? "

## string split

In [11]:
myquote.split()

['qiqi', 'asks:', '"why', 'me?"']

In [17]:
another_quote="23, 24, 25, 26"
another_quote.split()

['23,', '24,', '25,', '26']

In [18]:
another_quote.split(",")

['23', ' 24', ' 25', ' 26']